





.bg-red {
    background-color: #f2545b;
}

.txt-red {
    color: #f2545b;
}

.bg-dark-blue {
    background-color: #19323c;
}

.txt-blue {
    color: #19323c;
}

.bg-gray {
    background-color: #d9d9d9;
}

.text-gray {
    color: #d9d9d9;
}

.di{
    background-color: #f6f6f6;
    width: 90%;
    height: 5rem;
}

bg-red {
    background-color: #f2545b;
}

.txt-red {
    color: #f2545b;
}

.bg-dark-blue {
    background-color: #19323c;
}

.txt-blue {
    color: #19323c;
}

.bg-gray {
    background-color: #d9d9d9;
}

.text-gray {
    color: #d9d9d9;
}






  
.square-shadow1 {
    background-color: black;
    width:  200px;
    height: 300px;
    margin-left: 200px;
    margin-top: 300;
    

  }

  .square-shadow2 {
    background-color: black;
    width:  200px;
    height: 300px;
    margin-left: 210px;
    
}

.square-shadow3 {
    background-color: black;
    width:  200px;
    height: 300px;
    margin-top: 10px;

}
.square-shadow4 {
    background-color: black;
    width:  200px;
    height: 300px;
    margin-left: 200px;
    margin-bottom: 100px;

    

  }
  .ofertas {
    display: flex;
  }

  .titulo{
    font-size: 35px;
    padding: 2rem;
    margin: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .titulo2{
    font-size: 22px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .categorias{
    background-color: #f2545b;
    width: 100%;
    height: 10rem;
  }

  .bolentin{
    background-color: #8C5E58;
    padding: 2rem;
    margin: 2rem;
    color: white;
    justify-content: center;
    height: 400px;
    
  }

  .titulo1{
    font-size: 35px;
    text-align: center;
    justify-content: center;
    align-items: center;

  }

  .navbar-options{

    color: black;
    


  }


  

 

  .input-options {

    width: 35%;
    height: 15%;
    border-radius: 20px;
    
    
  }

  .botonbotonsuscribirse1{

    
    width: 140px;

  }


 .apellido {

    width: 10px;
    height: 10px;
    background-color: white;
    margin-left: 50px;
 }
 
 .menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .imgcarrusel1 {
    object-fit: contain;
  height: 100%;
  width: 100%;

   
}

.contenedor {
        display: flex;
        flex-direction: column;
     
      


  }
  
  .fila {
    display: grid;
    justify-content: center; /* Centrar el contenido horizontalmente */
    margin-bottom: 10px; /* Espacio entre filas */
    margin-left: 20px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    flex-wrap: wrap
    
  }
  
  .columna {
    
    height: 300px;
    margin-right: 15px; 
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: red; 
    align-items: center;
    

    
  }
    


  .columna:hover {
    border: solid 4px #19323c;
  }

  .col{
    background-color: black;
    color: #f6f6f6;
  }

  .dropdown-menu {
    width: 200px;
  }







.div-conedorS {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  
    
  
}

.cajadeventa{

  width: 178vh;
  height: 1000px;

}


.img-del-prducto {
  width: 700px;
  height: 510px;
  background-color: white;

  
  


}


.imgcarrusel2 {

  height: 450px;  
 

  

}


.div-info {
  width: 700px;
  height: 500px;
  position: relative;
  left: 675px;
  float: left;
  bottom: 450px;
  
}

.pventastitulo {
  font-size: 25px;
  text-align: center;
}

.botonventa{
  width: 115px;
  height: 55px;
  border: none;
  background-color: #f2545b;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.botonventa:hover {
  border: solid 4px #19323c;
}



.botonventap {
  border: none;
  background-color: #f2545b;
  color: white;
  

  
  
}




/* .contenedorc {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #19323c;
  
} */

.columnac1 {
  background-color: white;

}

.columnac2 {
  text-align: right;
  background-color: white;
}


.letraPc2 {

  font-size: 25px;



}





  
  .content{
    background-color: black;
    color: #fff;
     max-width: 1170px;
     margin-left: auto;
     margin-right: auto;
     padding: 1.5em;
  }

  .contac-wrapper{
    box-shadow: 0 0 20px 0 rgba(255 255 255. .3);
  }

  .contac-wrapper{
    padding: 1em;
  } 
  .contact-form{
    color: rgb(242, 234, 234);
    background-color: #22222222;
  } 

  .contact-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contact-form form .block{
    grid-column: 1 / 3;
  }

  .contact-form form p{
    margin: 0;
    padding: 1em;
  }

  .contact-form form button,
  .contact-form form input,
  .contact-form form textarea {
      width: 100%;
      padding: 1em;
      border: none;
      background: none;
      outline: 0;
      color: #fff;
      border-bottom: 1px solid #f2545b;
  }
  
  .contact-form form button{
    background-color: #f2545b;
    color: black;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
  }



  .contact-form form button:hover,
  .contact-form form button:focus {
    background: #f2545b;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
  }

  .contact-info{
    background-color: black;
    color: white;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p{
    text-align: center;
    margin: 0 0 1rem 0;
  }
  .contact-info ul{
    list-style: none;
    padding: 0;
  }
  .contact-info ul li{
    padding: .3em;
  }

  .parrafo{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div-conedorS {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  
    
  
}

.cajadeventa{

  width: 178vh;
  height: 1000px;

}


.img-del-prducto {
  width: 700px;
  height: 510px;
  background-color: white;

  
  


}


.imgcarrusel2 {

  height: 450px;  
 

  

}

  @media (min-width:700px) {
    .contac-wrapper{
      display: grid;
     grid-template-columns: 2fr 1fr;
    }

    .contac-wrapper > * {
      padding: 2rem;
    }

   .contact-info h4,
  .contact-info ul,
  .contact-info p{
       padding: 1em;
  }
  }
  

  



