.bg-red {
    background-color: #f2545b;
}

.txt-red {
    color: #f2545b;
}

.bg-dark-blue {
    background-color: #19323c;
}

.txt-blue {
    color: #19323c;
}

.bg-gray {
    background-color: #d9d9d9;
}

.text-gray {
    color: #d9d9d9;
}

.di{
    background-color: #f6f6f6;
    width: 90%;
    height: 5rem;
}

bg-red {
    background-color: #f2545b;
}

.txt-red {
    color: #f2545b;
}

.bg-dark-blue {
    background-color: #19323c;
}

.txt-blue {
    color: #19323c;
}

.bg-gray {
    background-color: #d9d9d9;
}

.text-gray {
    color: #d9d9d9;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(2, 250px);
    grid-template-columns: repeat(4, 250px);
    gap: 20px;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
  }

  
  .square {
    background-color: #ccc;
    width: 250px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    font-size: 36px;

  }

  .titulo{
    font-size: 35px;
    padding: 2rem;
    margin: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .categorias{
    background-color: #f2545b;
    width: 100%;
    height: 10rem;
  }

  .bolentin{
    background-color: #8C5E58;
    padding: 2rem;
    margin: 2rem;
    color: white;
    justify-content: center;
    height: 400px;
    
  }

  .titulo1{
    font-size: 35px;
    text-align: center;
    justify-content: center;
    align-items: center;

  }

  .navbar-options{
    height: 80px;
    color: black;
    


  }

  
  .navbar-left img {
    height: 40px;
    margin-left: 355%;
    margin-top: 10px;
    
    
  }

  .input-options {

    width: 35%;
    height: 15%;
    border-radius: 20px;
    
    
  }

  .botonbotonsuscribirse1{

    
    width: 140px;

  }


 .apellido {

    width: 10px;
    height: 10px;
    background-color: white;
    margin-left: 50px;
 }
 
 .menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .imgcarrusel1 {

    height: 600px;


  }


.col{
  background-color: #2c2a2a;
  color: #fff;
}
  
  
  