.bg-red {
    background-color: #f2545b;
}

.txt-red {
    color: #f2545b;
}

.bg-dark-blue {
    background-color: #19323c;
}

.txt-blue {
    color: #19323c;
}

.bg-gray {
    background-color: #d9d9d9;
}

.text-gray {
    color: #d9d9d9;
}