.bg-red {
    background-color: #f2545b;
}

.txt-red {
    color: #f2545b;
}

.bg-dark-blue {
    background-color: #19323c;
}

.txt-blue {
    color: #19323c;
}

.bg-gray {
    background-color: #d9d9d9;
}

.text-gray {
    color: #d9d9d9;
}

.di{
    background-color: #f6f6f6;
    width: 90%;
    height: 5rem;
}

bg-red {
    background-color: #f2545b;
}

.txt-red {
    color: #f2545b;
}

.bg-dark-blue {
    background-color: #19323c;
}

.txt-blue {
    color: #19323c;
}

.bg-gray {
    background-color: #d9d9d9;
}

.text-gray {
    color: #d9d9d9;
}




  
.square-shadow1 {
    background-color: black;
    width:  200px;
    height: 300px;
    margin-left: 200px;
    margin-top: 300;
    

  }

  .square-shadow2 {
    background-color: black;
    width:  200px;
    height: 300px;
    margin-left: 210px;
    
}

.square-shadow3 {
    background-color: black;
    width:  200px;
    height: 300px;
    margin-top: 10px;

}
.square-shadow4 {
    background-color: black;
    width:  200px;
    height: 300px;
    margin-left: 200px;
    margin-bottom: 100px;

    

  }
  .ofertas {
    display: flex;
  }

  .titulo{
    font-size: 35px;
    padding: 2rem;
    margin: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .categorias{
    background-color: #f2545b;
    width: 100%;
    height: 10rem;
  }

  .bolentin{
    background-color: #8C5E58;
    padding: 2rem;
    margin: 2rem;
    color: white;
    justify-content: center;
    height: 400px;
    
  }

  .titulo1{
    font-size: 35px;
    text-align: center;
    justify-content: center;
    align-items: center;

  }

  .navbar-options{
    height: 80px;
    color: black;
    


  }

  
  .navbar-left img {
    height: 40px;
    margin-left: 355%;
    margin-top: 10px;
    
    
  }

  .input-options {

    width: 35%;
    height: 15%;
    border-radius: 20px;
    
    
  }

  .botonbotonsuscribirse1{

    
    width: 140px;

  }


 .apellido {

    width: 10px;
    height: 10px;
    background-color: white;
    margin-left: 50px;
 }
 
 .menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .imgcarrusel1 {

    height: 600px;


  }
  
  .fila {
    display: flex;
    justify-content: center; /* Centrar el contenido horizontalmente */
    margin-bottom: 10px; /* Espacio entre filas */
    margin-left: 20px;

  }
  
  .columna {
    width: 250px;
    height: 250px;
    margin-right: 10px; /* Espacio entre columnas */
    background-color: gray;
  }
  
  
  
  
  
  
  